<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550803310810-imkqsdc5tj6ioiffqioflc4dhshr354v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550803310810-imkqsdc5tj6ioiffqioflc4dhshr354v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqpOEvRkSp0nzvaauYr2EyZzAWXmryzlc</string>
	<key>GCM_SENDER_ID</key>
	<string>550803310810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rinatkutuev.self.junior.Recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-77f08</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-77f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550803310810:ios:c7de6c10df6b24fb04fde3</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-77f08.firebaseio.com</string>
</dict>
</plist>